<app-header></app-header>
<div class="clearfix"></div>
<div class="show-report">
    <div class="show-report-header">
        <h5>CTSR003</h5>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="caution">
                <div class="row">
                    <div class="col-1 col-xs-3 pad_2px ">
                        <img src="assets/images/dashboard/caution.png" class="mx-auto d-block"
                            alt="reportimage">
                    </div>
                    <div class="col-11 col-xs-9 pad_2px ">
                        <p>{{'Caution' | translate}} </p>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-3 pad_2px ">
                            <input type="text" class="w-100 form-control " id="contrycode">
                        </div>
                        <div class="col-9 pad_2px">
                            <input type="text" class="w-100 form-control" id="number">
                        </div>
                    </div>
                </form>

                <!-- <div class="form-group">
                    <button type="submit" class="btn btn-share" (click)="qrcodeShow()">Share</button>
                </div> -->

                <div class="sharesuccess">
                    <div class="circle">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="qrcode text-center">                   
                    <i class="fa fa-qrcode" aria-hidden="true"></i>     
                    {{'YourNewShare' | translate}}
                </div>

                 <div class="form-group">
                    <button type="submit" class="btn btn-share" (click)="backpage()"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>{{'Back' | translate}}</button>
                </div>

            </div>
        </div>
    </div>





</div>













<div class="clearfix"></div>
<app-footer></app-footer>
